---
title: "Verificação de Software"
collection: talks
type: "Palestra para a disciplina Introdução à ciência da computação"
permalink: /talks/2017-09-21-bit-regex
venue: "UFOP"
date: 2018-01-19
location: "Ouro Preto - MG"
---

Essa palestra apresenta a importância da verificação de software e 
alguns problemas em aberto na área. Palestra para alunos do primeiro
período do curso de ciência da computação da UFOP.

[Slides](http://rodrigogribeiro.github.io/files/verificationtalk.pdf)
